/* CSS Reset */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
* {
    -webkit-touch-callout: none;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
    background: url("img/jacket.jpg") no-repeat center center;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
    height: 100vh;
}

.ios {
    background: red;
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: rgba(0,0,0,.6);
}

#container {
    position: fixed;
    font-size: 6vw;
    width: 100vw;
}

#top, #top1, #top2 {
    position: absolute;
    top: 0;
    overflow-y: scroll;
    font-family: sans-serif;
    height: 88vh;
}

/* Footer */

#bottom {
    position: absolute;
    top: 120vh;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 12vh;
    box-shadow: 0 .9vw 10vw 5.4vw rgba(0,0,0,.5);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#bottom.enter {
    top: 88vh;
}

#back, #home {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 12vh;
    width: 49.9vw;
    background-color: rgba(255,255,255,.3);
    font-family: sans-serif;
    border-top: solid .15vh rgba(0,0,0,.5);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#back, #home {
    position: relative;
    margin: 0 auto;
}

#back:hover, #home:hover {
    background-color: rgba(255,255,255,.4);
}

#back a, #home a {
    display: table;
    width: 49.9vw;
    height: 100%;
    margin: 0 auto;
    color: rgba(0,0,0,.6);
    text-align: center;
}

#back a div, #home a div {
    display: table-cell;
    vertical-align: middle;
}

#back {
    float: left;
    border-right: solid .2vw rgba(0,0,0,.5);
}

#home {
    float: right;
}

.spinner-loader {
    font-size: 3vw !important;
    position: fixed !important;
    z-index: 20 !important;
    top: 40% !important;
    left: 45vw !important;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -ms-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
    opacity: 0;
}

.spinner-loader.grow {
    opacity: 1;
}

.spinner-loader p {
    font-family: sans-serif;
    color: rgba(0, 0, 0, .5);
    font-size: 5vw;
    width: 100vw;
    position: relative !important;
    z-index: 2 !important;
    top: 40% !important;
    left: -45vw;
    text-align: center;
}

.wordscontainer {
    position: relative !important;
    width: 90vw !important;
    height: 100%;
}

.rightcontainer {
    display: table-cell;
    position: relative !important;
    width: 10vw !important;
    text-align: right !important;
    height: 100%;
    vertical-align: middle;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    z-index: 18;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
    font-family: sans-serif;
}

#cover.show, #consoleLog.show {
    opacity: 1;
}

#consoleLog {
    position: absolute;
    bottom: 4vh;
    width: 60vw;
    left: 50%;
    margin-left: -30vw;
    height: 5vh;
    border-radius: 20vw;
    background-color: rgba(0,0,0,.6);
    box-shadow: 0 0 2vw black;
    z-index: 999;
    color: whitesmoke;
    font-size: 5vw;
    text-align: left;
    font-family: sans-serif;
    opacity: 0;
    display: none;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

#consoleLog div {
    padding-left: 4vw;
    padding-top: 1vh;
}